# =========================
# Dependencies
# =========================
/node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =========================
# Next.js
# =========================
/.next/
/out/
/build

# =========================
# Production / Deployment
# =========================
.vercel
.cache

# =========================
# Prisma
# =========================
/node_modules/.prisma
/generated/prisma
prisma/dev.db*
prisma/*.sqlite
prisma/migrations/dev.db*

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.development
.env.production
.env.test

# Keep example file
!.env.example

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# =========================
# Testing
# =========================
/coverage

# =========================
# Misc
# =========================
.DS_Store
*.pem
*.key

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
